.cover-main img {
  max-width: 14rem;
  max-height: 14rem;
}

#graph-xll .anchor span {
  color: rgba(0, 0, 0, 0.8) !important;
  font-weight: bold !important;
}

#graph-xll blockquote {
  color: rgba(0, 0, 0, 0.6) !important;
}
